* {
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: "sans-serif";
}
nav {
width:100%;
height: 100px;
align-items: center;
display: flex;
position: relative;
background-image: linear-gradient(to right, #336699, #666666, #999999);
justify-content: space-between;
box-shadow: 0 0 10px #000;
z-index: 99;
}
nav .logo {
flex: 1;
color:#fff;
margin-left: 50px;
text-transform: uppercase;
font-size: 15px;
}


::placeholder {
	color: #A7C7E7;
}
#chk1 {
display: none;
}
i {
color: #fff;
cursor: pointer;
}
nav .search-box {
flex: 1;
position: relative;
}
nav .logo {
flex: 1;
color:#fff;
margin-left: 50px;
text-transform: uppercase;
font-size: 15px;
}
	

.search-box input {
width:100%;
height: 40px;
border: none;
outline: none;
background:#f2f2f2;
border-radius: 30px;
color:gray;
font-size: 16px;
padding-left: 5px;
padding-right: 40px;
text-align: center;
position: absolute;
left: 600px;
top: -20px;
}
.search-box button {
cursor: pointer;
width:40px;
height: 40px;
border-radius: 30px;
border:none;
position: absolute;
top:0;
right: 0;
transform: scale(0.9);
background: green;
color: #fff;
}
.searchbox placeholder {
	color: #ADD8E6;
}
nav ol {
flex: 2;
display: flex;
justify-content: space-evenly;
}
nav ol, li {
list-style: none;
text-decoration: none;
}
nav ol li a {
text-decoration: none;
color:#fff;
font-weight: 600;
text-transform: uppercase;
padding: 10px 15px;
position: relative;
right: 400px;
}
nav ol li a:hover {
border-bottom: 2px solid cadetblue;
}
nav .menu {
font-size: 2.5em;
display: none;
}
 
.search-box button {
position: absolute;
}
nav ul {
position: fixed;
top:100px;
right: -100%;
background: rgba(0,0,0,0.5);
height: calc(100vh - 100px);
width:50%;
flex-direction: column;
align-items: center;
transition: right 0.5s linear;
}
nav .menu {
display: block;
width:100px;
text-align: center;
}
.column {
float: left;
width: 48%;
margin-bottom: 16px;
padding: 0 8px;

 
}
.column p, h2, h4, li, img {
	padding: 15px;
	
}
img {
	float: left;
}

.card {
margin: 8px;
background-image: linear-gradient(to right, #A7C7E7, #D8D8D8);

}


.container {
padding: 2px;

}
.container::after, .row::after {
content: "";
clear: both;
display: table;
}
@media screen and (max-width: 650px) {
.column {
width: 100%;
display: block;

}
}
.container h2 {
	text-align: center;
}
